* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.body {
  text-align: left;
  background-size: cover;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  padding-top: 2rem;
}

header {
  display: flex;
  justify-content: center;
  width: 65.1%;
  color: #fff;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: baseline;
}

.recent-score {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
}

.title-recent {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  padding: 1.3rem;
}

.title-recent button {
  width: 4.5rem;
  height: 2rem;
  align-self: center;
}

.add-score button {
  width: 4.5rem;
  height: 2rem;
  align-self: center;
}

.title-recent button:hover {
  background-color: greenyellow;
}

ul {
  list-style: none;
  border: 2px solid black;
}

ul li {
  padding: 5px;
}

ul li:nth-child(even) {
  background-color: lightgrey;
  height: 2.2rem;
  border-bottom: 1px solid #000;
}

ul li:nth-child(odd) {
  background-color: rgb(240, 238, 238);
  height: 2.2rem;
  border-bottom: 1px solid #000;
}

.add-score {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  width: 30%;
  color: #fff;
}

#name-input {
  height: 2.2rem;
}

#score-input {
  height: 2.2rem;
}

.add-score p {
  font-weight: 700;
  font-size: 20px;
}

.add-score form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-score form input {
  border: 1px solid black;
  width: 60%;
}

.add-score button:hover {
  background-color: greenyellow;
}
